* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  font-family: "Manrope", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


img {
  display: block;
  width: 100%;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  font: inherit;
  cursor: pointer;
}


input,
textarea {
  font: inherit;
}


section {
  padding: 8rem 2rem;
}